* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  left: calc(50% - 6vw);
  top: calc(50% - 6vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f7ff;
}

.btn {
  width: 250px;
  height: 250px;
  background-color: #1f2335;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.foo {
  background: transparent;
  border: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.alert {
  background: #1f2335;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
