@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth; /* 버튼누르면 바로 이동하는게 아니라 스무스하게 피피티 슬라이드처럼 넘어가는거 */
}

.body4 {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: #2e2c58;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 3% 5%;
  background: #18172b;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* 요소의 총 너비가 부모의 너비보다 클 때 다음 줄에 이어 나열 */
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container .sect {
  margin-right: 3%;
}

footer .container .sect.aboutus {
  width: 30%;
}

footer .container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 4%;
}

footer .container .sect.aboutus p {
  font-size: 15px;
  color: #999;
}

.sci {
  margin-top: 3%;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 1.5vw;
  height: 3vh;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5vw;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: #cececed0;
}

.sci li a .fa {
  color: #fff;
  font-size: 15px;
}

.quickLinks {
  position: relative;
  width: 15%;
  font-size: 15px;
}

.quickLinks ul {
  margin-top: 8%;
}

.quickLinks ul li {
  margin-top: 3%;
  list-style: none;
}

.quickLinks ul li a {
  color: rgb(172, 172, 172);
  text-decoration: none;
  margin-bottom: 1.5%;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 6%);
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
  font-size: 15px;
}

.contact .info li {
  display: flex;
  margin-bottom: 2%;
}

.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 18px;
  margin-right: 4%;
}

.contact .info li span {
  color: #999;
}

.contact .info li span a {
  color: #999;
}

.contact .info li p a {
  text-decoration: none;
  color: #999;
}

.contact .info li p a:hover {
  color: #fff;
}
