
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&family=Yomogi&display=swap');

* {
    font-family: 'Encode Sans SC', sans-serif;
}

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
*{
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}

/* Custom
 * --------------------------------------- */
body {
    font-family: arial, helvetica;
}
.section{
    position: relative;
    /* text-align: center; */
}

/* Header
 * --------------------------------------- */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5vh;
  display: inline-block;
  justify-content: space-between; /* 로고와 리스트 중간에 space 삽입 */
  align-items: center; /* 높이 가운데로 정렬 */
  z-index: 10000; /* 높으면 위로 올라오나봄 */
  
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none; /* 못생긴 리스트의 점들 없애줌 */
  margin-left: 20px; /* 리스트의 각 요소들 왼쪽 간격 20px씩 둔다 */
}

header ul li a {
  /* 하이퍼링크 css */
  text-decoration: none;
  padding: 6px 15px;
  color: rgb(26, 26, 26);
}

header ul li a:hover,
header ul li a.active {
  /* 사용자의 커서가 요소에 올라가 있을 때 적용 */
  /* 첫화면은 home이 active한 상태, 나머지는 내가 알아서.. */
  text-decoration: #fff wavy underline;
  font-weight: 600;
}

/* Section-1
 * --------------------------------------- */

#section-1 {
    background-color: #e8e6ec !important;
}

#section-1 h1{
    color: #1f1f1f;
    font-size: 3em;
    font-weight: 900;
    padding-left: 15vw;
}

#section-1 h2{
    font-size: 1.1em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    color: #181818;
    margin-top: 0.5em;
    padding-right: 30px;
    padding-left: 15vw;
    line-height: 1.2em;
}

#section-1 li {
    display: inline-block;
    margin: 1.25em 0.3em;
}
.section-1-button{
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    display: block;
    color: #181818;
}

/* Section-2
 * --------------------------------------- */

#section-2 {
    background: linear-gradient(#e8e6ec, #d8d6db) !important;
    display: flex;
}

.mini-text-zone {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20vh;
}

.mini-text {
    color: #181818;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.25em;
}

.text-zone {
    position: absolute;
    width: 100vw;
    display: block;
    text-align: center;
    top: 35vh;
}

.big-text {
    width: 100vw;
    text-align: center;
    padding: 0 24vw;  
}

.small-text {
    width: 100vw;
    text-align: center;
    padding: 2vh 20vw; 
}

#section-2 h2 {
    font-size: 1.9em;
    font-weight: 600;
    position: relative;
    width: 100%;
    padding: 0;
    line-height: 1.5em;
    width: 100%;
    color: #181818;
}

#section-2 h3 {
    color: #181818;
    font-size: 1em;
    font-weight: 300;
    position: relative;
    width: 100%;
    padding: 0;
    line-height: 1.5em;
    width: 100%;
}

/* Section-3
 * --------------------------------------- */

 #section-3 {
     background: linear-gradient(#d8d6db, rgb(196, 193, 199)) !important;
 }




/* 지울거 */
/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap" rel="stylesheet"> */

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: no-repeat center url("../icon/ionia.png");
  background-size: cover;
  /* transition: all ease 2s 0s; */
}

.dark-mode .container {
  background: no-repeat center url("../icon/군도'.jpg");  
  /* transition: all ease 2s 0s; */
}

.dark-mode .container #scene #text2 {
  position: absolute;
  display: flex !important;
  position: relative;
  color: #083a3a;
  font-size: 8vw;
  letter-spacing: -0.5vw;
  z-index: 100;
  transition: 0.25s;
}

.dark-mode .container #scene #text2 span {
  position: relative !important;
  display: inline-block;
  text-shadow: 0 0 18px #fff;
}

.dark-light {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  flex-shrink: 0;
  position: absolute;
  right: 1.5vw;
  top: 3vh;
  width: 1.5vw;
  /* height: 22px; */
  color: #fff;
  flex-shrink: 0;
  
}
.dark-light svg {
  width: 100%;
  fill: transparent;
  transition: 0.5s;
  
}

.dark-mode .dark-light svg {
  width: 100%;
  fill: #fff;
  transition: 0.5s; 
}

.dark-mode .banner .container .layer img {
  -webkit-filter : grayscale(100%);
  filter: gray;
  transition: 0.5s;
}

.banner .container .layer img {
  -webkit-filter : grayscale(0%);
  filter: none;
  transition: 0.5s;
}

.container #scene {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


#scene #text2 {
  position: absolute;
  display: flex !important;
  position: relative;
  color: #fff;
  font-size: 8vw;
  letter-spacing: -0.5vw;
  z-index: 100;
  transition: 0.25s;
}

#scene #text2 span {
  position: relative !important;
  display: inline-block;
  text-shadow: 1px 1px 0 #ffffff27, 2px 2px 0 #ffffff27, 3px 3px 0 #ffffff27,
    4px 4px 0 #ffffff27, 5px 5px 0 #ffffff27, 6px 6px 0 #ffffff27,
    7px 7px 0 #ffffff27, 8px 8px 0 #ffffff27, 25px 35px 0 rgba(0, 0, 0, 0.274);
}
