* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#f0ccdb, #f79dc3);
}

.container #scene {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container #scene #text {
  position: absolute;
  display: flex !important;
  position: relative;
  color: #fff;
  font-size: 14vw;
  z-index: 100;
}

.container #scene #text span {
  position: relative !important;
  display: inline-block;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #fff, 3px 3px 0 #fff, 4px 4px 0 #fff,
    5px 5px 0 #fff, 6px 6px 0 #fff, 7px 7px 0 #fff, 8px 8px 0 #fff,
    25px 35px 0 rgba(0, 0, 0, 0.1);
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
