/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap" rel="stylesheet"> */

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
  /* font-family: "Maven Pro", sans-serif; */
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#ddd6f3, #faaca8);
}

.container #scene {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container #scene #text {
  position: absolute;
  display: flex !important;
  position: relative;
  color: #fff;
  font-size: 10vw;
  font-weight: 700;
  letter-spacing: 17px;
  z-index: -100;
}

.container #scene #text span {
  position: relative !important;
  display: inline-block;
  text-shadow: 1px 1px 0 #faaca83a, 2px 2px 0 #faaca83a, 3px 3px 0 #faaca83a,
    4px 4px 0 #faaca83a, 5px 5px 0 #faaca83a, 6px 6px 0 #faaca83a,
    7px 7px 0 #faaca83a, 8px 8px 0 #faaca83a, 15px 25px 0 rgba(0, 0, 0, 0.1);
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
}
