* {
  margin: 0;
  padding: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* 이 속성을 적용하면 브라우저에 표현되는 텍스트가 렌더링될 때 부드럽게 표현되는 장점 */
}

strong {
  font-size: 2em;
  font-feature-settings: "tnum";
  /* 폰트 겹치는 부분? letter space와 비슷? */
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
