strong {
  font-size: 48px;
  font-feature-settings: "tnum";
  /* 글자들 겹치는 거 letter-spacing 과 유사 */
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* 글자를 스무스하겡 */
}

* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: Arial;
  justify-content: center;
  align-items: center;
  background: #f6f8ff;
}
body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
body .dribbble img {
  display: block;
  height: 28px;
}
body .twitter {
  position: fixed;
  display: block;
  right: 64px;
  bottom: 14px;
}
body .twitter svg {
  width: 32px;
  height: 32px;
  fill: #1da1f2;
}
