
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&family=Yomogi&display=swap');

* {
    font-family: 'Encode Sans SC', sans-serif;
    scroll-behavior: smooth;
    
}

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
*{
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}

/* Custom
 * --------------------------------------- */
body {
    font-family: arial, helvetica;
}
.section{
    position: relative;
    /* text-align: center; */
}

.gotop {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #7940ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5vh;
    right: 4vw;
    z-index: 10;
    font-size: 20px;
    color: rgb(235, 235, 235);
    transition: all 0.25s;
}

.gotop:hover{
    box-shadow: 0 0 10px 1px #ff840081;
    background: #ff9100;
    color: #e8e6ec;
    transform: translateY(-10px);
}

.gotop i {
    position: relative;
    font-size: 16px;
}

/* Header
 * --------------------------------------- */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7vh;
  display: inline-block;
  justify-content: space-between; /* 로고와 리스트 중간에 space 삽입 */
  align-items: center; /* 높이 가운데로 정렬 */
  z-index: 10000; /* 높으면 위로 올라오나봄 */
  
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none; /* 못생긴 리스트의 점들 없애줌 */
  margin-left: 20px; /* 리스트의 각 요소들 왼쪽 간격 20px씩 둔다 */
  transition: all 0.3s ease-in-out;
}

header ul li a {
  /* 하이퍼링크 css */
  text-decoration: none;
  padding: 6px 15px;
  color: rgb(26, 26, 26);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li div {
    position: absolute;
    z-index: -1;
    margin-top: 8px;
    width: 50px;
    height: 8px;
    border-radius: 6px 0 6px 0 ;
    background-color: #88888820;
    transition: all 0.22s ease-in-out;
}

header ul .header-item1 a:hover {
    color: #3d348b;
}

header ul .header-item2 a:hover {
    color: #7678ed;
}

header ul .header-item3 a:hover {
    color: #f7b801;
}

header ul .header-item4 a:hover {
    color: #f18701;
}


.section {
    transition: all 0.3s ease-in-out;
}

/* Section-1
 * --------------------------------------- */

#section-1 {
    background-color: #e8e6ec !important;
}

#section-1 h1{
    color: #1f1f1f;
    font-size: 3em;
    font-weight: 900;
    padding-left: 15vw;
}

#section-1 h2{
    font-size: 1.1em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    color: #181818;
    margin-top: 0.5em;
    padding-right: 30px;
    padding-left: 15vw;
    line-height: 1.2em;
}

#section-1 li {
    display: inline-block;
    margin: 1.25em 0.3em;
}
.section-1-button{
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    display: block;
    color: #181818;
}

/* Section-2
 * --------------------------------------- */

#section-2 {
    display: flex;
}

.mini-text-zone {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20vh;
}

.mini-text {
    color: #181818;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.25em;
}

.text-zone {
    position: absolute;
    width: 100vw;
    display: block;
    text-align: center;
    top: 35vh;
}

.big-text {
    width: 100vw;
    text-align: center;
    padding: 0 24vw;  
}

.small-text {
    width: 100vw;
    text-align: center;
    padding: 2vh 20vw; 
}

#section-2 h2 {
    font-size: 1.9em;
    font-weight: 600;
    position: relative;
    width: 100%;
    padding: 0;
    line-height: 1.5em;
    width: 100%;
    color: #181818;
}

#section-2 h3 {
    color: #181818;
    font-size: 1em;
    font-weight: 300;
    position: relative;
    width: 100%;
    padding: 0;
    line-height: 1.5em;
    width: 100%;
}

/* Section-3
 * --------------------------------------- */





/* Section-4
 * --------------------------------------- */

.nav-alert {
    font-size: 0.85rem;
    display: none;
    position: absolute;
    top: 10vh;
    left: 8vw;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.473);
    /* 가로 -> 세로 */
    z-index: 10;
    border-radius: 14px;
}

.nav-alert i {
    font-size: 0.5rem;
    margin-left: 0.21rem;
}

.navigation {
    position: absolute;
    top: 12vh;
    left: 8vw;
    width: 40px;
    height: 40px;
    background-color: #fff;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;  
    /* 가로 -> 세로 */
    z-index: 10;
    border-radius: 4px;
    overflow: hidden;
}

.navigation.active {
    width: 230px;
    height: 290px;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;  
    /* 세로 -> 가로 */
}

.navigation .toggle {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #7940ff;
    transition: 0,5s;
    cursor: pointer;
}

.navigation .toggle.active {
    background: #ec4e4e;
}

.navigation .toggle::before {
    content: "+";
    position: absolute;
    font-size: 2em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    transition: 0.5s;
}

.navigation .toggle.active::before {
    transform: rotate(315deg);
}

.navigation ul {
    position: absolute;
    left: 0;
    width: 100%;
}



.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.navigation ul li:hover {
    background-color: #00000010;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #333;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.navigation ul li a .icon .fa {
    font-size: 16px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    text-align: start;
    line-height: 50px;
    white-space: nowrap;
}

.navigation ul li:hover a .icon .fa,
.navigation ul li:hover a .title {
    color:#333;
} 

.fp-controlArrow.fp-prev {
    left: 8vw;
    width: 0;
    border-width: 20px 20px 20px 0;
    border-color: transparent #333 transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 8vw;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #333;
}

.slide-zone {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.works-title {
    position: absolute;
    top: 20vh;
    width: 100vw;
    font-size: 3rem;
    font-weight: 900;
    color:#252525;
}

.works-date {
    position: absolute;
    top: 17vh;
    width: 100vw;
    font-size: 0.87rem;
    font-weight: 400;
    color:#252525;
}

.works-desc {
    position: absolute;
    top: 26.5vh;
    width: 100vw;
    padding: 0 30vw;
    font-size: 0.98rem;
    font-weight: 400;
    color:#252525;
}

.works-detail {
    position: absolute;
    bottom: 15vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    cursor: pointer;
    transition: 0.25s;
}

.works-detail div {
    transition: 0.25s;
    font-size: 0.8rem;
    font-weight: 600;
    position: absolute;
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #222;
    border: 1.2px solid #252525;
    border-radius: 5px 20px 5px 20px;
}

.works-detail div:hover {
    color: #fff;
    box-shadow: inset 9rem 0 0 0 #222;
    border: 1.2px solid #222;
}

.works-detail div i {
    padding-right: 10px;
}

.well-bing-svg-zone {
    position: absolute;
    width: 100vw;
    top: 15vh;
    padding-top: 17vh;
    padding-bottom: 5vh;
}

.well-bing-svg-zone img {
    width: 19%;
    padding-top: 10vh;
}

.well-bing-img-zone {
    display: flex;
    position: absolute;
    width: 100vw;
    top: 47vh;
}

.well-bing-img-zone-left {
    padding-left: 9vw;
    width: 50vw;
}

.well-bing-img-zone-right {
    padding-right: 9vw;
    width: 50vw;
}

.well-bing-img-zone img {
    width: 15%;
    margin: 0 7px;
}

.rodang-img-zone {
    display: block;
    width: 100vw;
    justify-content: center;
    padding-top: 15vh;
}

.rodang-img-zone img {
    width: 10%;
}

.rodang-img-zone .svg {
    width: 4%;
    padding-top: 20px;
    padding-bottom: 35px;
}

.sonemary-img-zone {
    display: flex;
    padding-top: 15vh;
    padding-left: 14vw;
    padding-right: 14vw;
}

.sonemary-left-img-zone {
    width: 50vw;
    overflow: hidden;
}

.sonemary-left-img-zone img {
    width: 92%;
    border-radius: 15px;
}

.sonemary-right-img-zone {
    width: 50vw;
    text-align: left;
}

.sonemary-right-img-zone span {
    padding-left: 20px;
    /* font-family: Yomogi; */
    font-weight: 500;
}

.sonemary-right-img-zone span i{
    padding-right: 13px;
    font-size: 0.88em;
}

.sonemary-right-img-zone-grid {
    padding-top: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sonemary-right-img-zone img {
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.gongdal-img-zone {
    display: flex;
    justify-content:center;
    align-items:center;
}

.gongdal-img-zone img {
    width: 30%;
}

.gongdal-img-zone .small {
    width: 20%;
    height: 20%;
}